/* set the default padding and margin to 0 and set the box-sizing to border-box */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right , rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./image/bg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.squres{
    width: 142px;
    height: 142px;
    background-color: lightgray;
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.squres div{
    width:20px;
    height: 20px;
    border:0.5px solid green ;
}

.blue_player{
    background-color: blue;
    border-radius: 10px;

}

.red_player{
    background-color: red;
    border-radius: 10px;
    
}

.blue{
    color: blue;
    position: absolute;
    left: 5%;
    top: 5%;
    display: none;
}

.red{
    color: red;
    position: absolute;
    right: 10%;
    top: 5%;
    display: none;
}

.display{
    display: block;
}