/* set the default padding and margin to 0 and set the box-sizing to border-box */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-image: url('./images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.cards{
    width: 40vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    opacity: 0.7;
}

.card{
    width: 25%;
    height: 30px;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

.win{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right , rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;

}
.win_{
    animation: show 1s linear forwards;
}

@-webkit-keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.win p{
    color: white;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  linear-gradient(to right , rgba(0,0,0,0.9),rgba(0,0,0,0.9));;
}